<html>
    <head>
        <title>Login</title>
    </head>    
    <body>
        <h1>Login</h1>
        <form method="post" action="">
            {% csrf_token %}
            <!-- <div>
                <label>Username: </label>
                <input type="text" name="username">
            </div>
            <div>
                <label>Password: </label>
                <input type="password" name="username">
            </div>
            <div>
                <input type="submit" value="Login">
            </div> -->
            {{ user_form }}
            {{ login_form }}
            <div>
                <input type="submit" value="Login">
            </div>
        </form>
    </body>
</html>